<div class="container">
  <div class="test">
    <h4><%= @article.title %></h4>
    <ul>
      <li class="crayon"><%= link_to "âœ", edit_article_path %></li>
      <li><%= link_to "ðŸ—‘", article_path, method: :delete,
        data: { confirm: "Are you sure?" } %></li>
    </ul>
  </div>
<p><%= @article.content %><p>
</div>
